{%extends 'restaurants/restaurant_index.html'%}
{%load static%}
{%block content%}

<div class="content-wrapper p-2">
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="row">
          <div class="col-lg-12">
            <div class="card-body mt-2">
              <a href="{% url 'restaurant_add_menu' %}">
                <button type="button" class="btn btn-primary float-right mr-3"><i class="fas fa-clipboard"></i>
                  Add Menu
                </button></a>
              <h1 class="h3 mb-0 text-gray-800">MENU</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-wrapper p-2">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row" id="input-outer">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."
              title="Type in a name" class="form-control "> 
            

          </div>

          <br>
          <div class="table-responsive datatable">
            <table class="table table-hover card-table table-vcenter text-nowrap" id="myTable">
              <thead>
                <tr class="text-uppercase fw-bolder">
                  <th>Food Name</th>
                  <th>Price</th>
                  <th>Food item</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for i in food %}
                <tr>
                  <td>{{i.foodname}}</td>
                  <td>{{i.price}}</td>
                  <td>{{i.fooditem.item_name}}</td>
                  <td>
                    <a href="{% url 'restaurant_edit_menu' i.id %}">
                    <button type="button" class="btn btn-outline-primary">Edit</button></a>
                    <a href="{% url 'restaurant_delete_menu' i.id %}">
                    <button type="button" class="btn btn-outline-danger">Delete</button></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  $(document).ready(function () {
    $('table tr').click(function () {
      window.location = $(this).data('href');
      return false;
    });
  });
</script>


{% endblock %}