{%extends 'restaurants/restaurant_index.html'%}
{%load static%}
{%block content%}


<div class="container-fluid page-body-wrapper ">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-9 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Waiter/Server Add form</h4>
                            <form class="forms-sample" method="post" action="restaurant_addwaiter"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    
                                    <input type="text" class="form-control" id="exampleInputUsername1"
                                        placeholder="Fullname" name="fullname">
                                </div>
                               
                                <button type="submit" class="btn btn-primary me-2">Submit</button>
                                
                            </form>
                            <a href="{% url 'restaurant_waiter' %}">
                                <button class="btn btn-light float-right" style="margin-top:-38px ;">Cancel</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}